<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.popalay.cardme.pushnotification">

    <application>

        <receiver android:name=".NotificationActionBroadcastReceiver" />

        <service
            android:name=".FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
